body
{
    margin : 0;
    padding: 0;
    font-family: sans-serif;
    background:
    radial-gradient(red -1px, transparent 5px),
    radial-gradient(red -1px, transparent 5px),
    linear-gradient(#031321 5px, transparent 0),
    linear-gradient(45deg, transparent 75px, transparent 75px,white, transparent 76px),
    linear-gradient(-45deg, transparent 75px, transparent 76px,white, transparent 78px),
    #031321;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
   
}
.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
}
.box h2
{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputBox
{
    position: relative;
}
.box .inputBox input
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    
}
.box .inputBox label
{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;   
    transition: .5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #8102e9;
    font-size: 12px;
}

.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #8102e9;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

